# Dependencies
node_modules/

# Environment variables
.env

# Test results and reports
test-results/
cucumber-report/

# Temporary files
*.log
*.tmp
*.temp

# IDE/editor files
.vscode/
.idea/
.DS_Store

# Coverage reports
coverage/